# Ceph {{ ceph_version }} No-Subscription Repository
deb [signed-by=/usr/share/keyrings/proxmox-archive-keyring.gpg] http://download.proxmox.com/debian/ceph-{{ ceph_version }} {{ ansible_distribution_release }} no-subscription
